@use 'base/variables' as v;
.alert {
    padding: .5rem;
    text-align: center;
    color: v.$white;
    font-weight: v.$bold;
    text-transform: uppercase;
    margin: 1rem 0;
    &.error {
        background-color: v.$red;
    }
    &.success {
        background-color: v.$green;
    }
}