@use 'base/variables' as v;
.alert {
    padding: .5rem;
    text-align: center;
    color: v.$white;
    font-weight: v.$bold;
    text-transform: uppercase;
    margin: 1rem 0;
    &.error {
        background-color: v.$red;
    }
    &.success {
        background-color: v.$green;
    }
}

table.propierties {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    border: 1px solid v.$white;
    text-align: center;
    thead {
        color: v.$white;
        background-color: v.$green;
    }
    th {
        padding: 2rem;
    }
    .image-table {
        width: 7rem;
        height: 7rem;
    }
}

.small-image {
    width: 20rem;
}