@use 'base/variables' as v;
@use 'base/mixins' as m;
.content-us {
    @include m.tablet {
        @include m.grid(2, 2rem);
        gap: 5rem;
    }
    @include m.phone {
        text-align: center;
        @include m.grid(1, 2rem);
    }
}

.text-us blockquote {
    font-weight: v.$black;
    font-size: 2.2rem;
    margin: 0;
    padding-left: 1rem 0 3rem 0;
}