@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
// Fonts
$main_font: 'Lato',
sans-serif;
// Size of media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colors
$black: #000000;
$yellow: #E08709;
$green: #71B100;
$red: #f04e4e;
$white: #FFFFFF;
$grey: #e1e1e1;
$darkGrey: #333333;
$separation: 5rem;
// Fonts
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900