@use 'base/mixins' as m;
@use 'base/variables' as v;
.rigth {
    display: flex;
    flex-direction: column;
    @include m.tablet {
        align-items: flex-end;
    }
    .dark-mode-button {
        width: 3rem;
        margin-left: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        filter: invert(100%);
        &:hover {
            cursor: pointer;
        }
        @include m.tablet {
            margin-top: 0;
            margin-left: 0;
        }
    }
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        //To center the logo with the nav with the dark button
        align-items: flex-end;
    }
}

.navigation {
    //display: none; These is equals as visibility
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
    @include m.tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    a {
        color: v.$white;
        text-decoration: none;
        font-size: 2.2rem;
        display: block; //Occupy all width
        text-align: center;
        @include m.tablet {
            margin-right: 2rem;
            font-size: 1.8rem;
            &:last-of-type {
                margin: 0;
            }
        }
    }
}


/* Menu for mobile screen */

.mobile-menu {
    @include m.tablet {
        display: none;
    }
    img {
        width: 5rem;
    }
}


/* JS Logic */

.show {
    visibility: visible;
    opacity: 1;
    height: auto;
    /*display: flex;
    flex-direction: column;
    @include m.tablet {
        flex-direction: row;
    }*/
}